---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
---

<Layout>
  <Header />
  <div style="height: 41rem;"></div> {/* Adds white space; adjust height as needed */}
  <Footer />
</Layout>
